* text=auto !eol
/.gitignore -text
.idea/netx_fal.iml -text
.idea/encodings.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/php.xml -text
.idea/vcs.xml -text
Classes/Client/NetXClient.php -text
Classes/Driver/Driver.php -text
Classes/Driver/DriverV12.php -text
Classes/Index/Extractor.php -text
Configuration/FlexForm/NetXDriverFlexForm.xml -text
/ext_emconf.php -text
/ext_icon.png -text
/ext_localconf.php -text
/ext_tables.sql -text
